<div id="htmlConnection">
	<div class="outer">
		<div class="middle">
			<div class="inner">
				<h2>Radius</h2>
				<div class="content-login">
					#if ($context.getAttribute('error'))
						<p>$context.getAttribute('error')</p>
					#else
						<p><i>"Mon cerveau ? C'est mon second organe préféré."</i> - <b>Woody Allen</b></p>
					#end
					<form method="POST">									
						<input type="text" name="login" placeholder="Identifiant"/><span class="glyphicon glyphicon-user"></span><br/>
						<input type="text" name="password" placeholder="Mot de passe"/><span class="glyphicon glyphicon-lock"></span><br/>
						<input id="login" type="submit" name="login-submit" value="Connexion"><br/>
						<input id="subscribe" class="action" type="submit" name="subscribe-submit" value="Inscription" ><br/>
					</form>
				</div>
				<div class="content-inscription" style="display: none;">
					<form method="POST">									
						<input type="text" name="login" placeholder="Identifiant"/><span class="glyphicon glyphicon-user"></span><br/>
						<input type="text" name="password" placeholder="Mot de passe"/><span class="glyphicon glyphicon-lock"></span><br/>
						<input type="text" name="password2" placeholder="Mot de passe"/><span class="glyphicon glyphicon-lock"></span><br/>
						<input type="text" name="email" placeholder="Email"/><span class="glyphicon glyphicon-envelope"></span><br/>
						<input id="subscribe" type="submit" name="subscribe-submit" value="Inscription" ><br/>
						<input id="login" class="action" type="submit" name="login-submit" value="Connexion"><br/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

$('.action').on('click', function(e) {
	$('.content-login').slideToggle();
	$('.content-inscription').slideToggle();
	e.preventDefault();
});

</script>