#htmlConnection body{
	font-family: Calibri;
	background-color: #1C1C1C;
	background-image: url("res/noisy_net_@2X.png");
	margin: 0;
}

.outer {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.middle {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.inner {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 750px;
	height: 750px;
	border-radius: 750px;
	
	color: black;
	text-align: center;
	background-color: #FEF9E4;
	background-image:url(favicon.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 10px black;
	transition-duration:0.5s;
}

.inner:hover{
	border: solid 10px #FE1938;
}


h2{
	margin-top: 25%;
	font-size: 7em;
	margin-bottom:15px;
	font-family: 'Lobster';
}

p{
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 40px;
}

input{
	font-family: 'Biryani', sans-serif;
	color: black;
	margin: 5px;
	padding: 5px;
	width: 200px;
	font-size: 14px;
	
	transition: all .5s ease;		
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

input[type="text"]{
	background-color: rgba(0,0,0,0);
	border: 0;
	border-bottom: 2px solid gray;
	
	padding-bottom: 0px;
	margin-bottom: -2px;
	height: 21px;
	outline: none;
}

input[type=text]:focus {
	border-bottom: 2px solid #FE1938;
}

input[type="submit"]{
	font-size:12px;
	padding: 1px 10px;
	padding-bottom: 2px;
	
	width: 150px;
	height: 30px;
	text-align: center;
	display: inline-block;
	
	color: white;
	border: 2px solid black;
	background-color: #2E2E2E;
	padding-top: 4px;
	border-radius: 5px;
	margin-top:25px;
}

input[type="submit"]:hover{
	border: 2px solid #FE1938;
	background-color: #FE6176;
	cursor: pointer;
}

* {
	outline-color: #FE1938;
}

