
@font-face {
	font-family: 'Biryani';
	font-style: normal;
	font-weight: 400;
	src: url(font/biryani.woff2) format('woff2'), url(font/biryani.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 700;
	src: url(font/roboto_condensed.woff2) format('woff2'), url(font/roboto_condensed.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 700;
	src: url(font/Lobster.woff2) format('woff2'), url(font/Lobster.ttf);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
	font-size: 14px;
	font-family: 'Biryani', sans-serif;
	
	min-width: 800px;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #1C1C1C;	
	background-image: url("backgrounds/noisy_net_@2X.png");
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#global{
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: white;
}

#global a{
	text-decoration: none;
	color: white;
}

#global .selected > a{
	color: #FE6176;
}

ul{
	list-style: none;
}

#left {
	font-size: 12px;
	width: 300px;
	height: 100%;
	float: left;
	background-color: #1C1C1C;
	background-image: url(backgrounds/noisy_net_@2X.png);
    overflow: hidden;
    position: relative;
}

#tree_cursor{
	width: 10px;
	height: 100%;
	float: right;
	position: absolute;
	right: 0;
	top: 0;

	float: right;
	cursor: w-resize;

	border-right: 3px solid #1C1C1C;

	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 0.5s ease;
}

#tree_cursor:hover{
	background-color: #2E2E2E;
}

#tree{
	padding: 10px;
	width: 100%;
	height: auto;
	float: left;
}

.tree .root{
	font-weight: bold;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}

.tree ul{
	padding: 5px;
	padding-left: 8px;
}

.tree ul li{
	padding-left: 12px;
	overflow:hidden;
	white-space:nowrap;
}

.tree ul li a{
	text-decoration: none;
}

.tree ul li a:hover{
	font-weight:bold;
}

.tree .selected > a {
	font-weight:bold;
	color: #FE6176;
}

.tree li span{
	width: 20px;
	height: 20px;
	position: relative;
	top: 5px;
	
	cursor: pointer;
	transition-duration: 0.2s;
	display: inline-block;
	
	background-color: black;
	background-image: url(icons/moins-transp.png);
	background-repeat: no-repeat;
	background-size:20px;
	
	border-radius: 50px;
	border: 0.5px solid black;
}

.tree li span:hover{
	border: 0.5px solid white;
}

.tree li .developped{
	background-image: url(icons/plus-transp.png);
	background-color: white;
}

#searchs {
	width: 100%;
	min-height: 250px;
	float: left;
}

#searchs ul {
	border-top: 2px rgb(46, 46, 46) solid;
	margin-left: 29px;
	margin-right: 29px;
	padding-left: 15px;
	padding-top: 10px;
}

#searchs ul li.selected {
	margin-right: 15px;
	font-weight: bold;
	color: #FE6176;
}

#searchs ul li {
	white-space: nowrap;
}

#searchs ul li span {
	margin-right: 15px;
}

#searchs ul li:hover {
	font-weight: bold;
	cursor: pointer;
}

#right{
	height: 100%;
	width: auto;
	display: block;	
	//background-color: #2E2E2E;
	//background-color:#BDBDBD;
	background-color: #FEF9E4;

	background-image: url(backgrounds/paper2.png);
	background-op
	transition: 0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
}

#options{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: white;
	width: auto;
	padding: 10px;
	//border-bottom: 2px solid #2E93F1;
	border-bottom: 2px solid #FE1938;
	background-color: #2E2E2E;
}

#options li, #options a, #options ul{
	text-align:center;
	display: inline;
	padding-left: 0px;
}


#options a{
	white-space: pre;
}

#options a{
	transition-duration: 0.2s;
	margin-left: 20px;
}

#options a:hover{
	/*color: #BDDFF6;*/
	color: #FE6176;
}

input {
	font-family: 'Biryani', sans-serif;
}

input[type=text]:disabled {
	background-color: rgb(230,230,230);
	color: gray;
}

input[type=text]:focus {
	border-bottom: 2px solid #FE1938;
	width: 150%;
}

input[type=text] {
	background-color: rgba(0,0,0,0);
	border: 0;
	border-bottom: 2px solid gray;
	-font-size: 14px;
	font-family: 'Biryani', sans-serif;
	padding-bottom: 0px;
	margin-bottom: -2px;
	height: 21px;
	outline: none;
	width: 150px;
}

#options input[type=text]:focus {
	border-bottom: 2px solid #FE1938;
	width: 250px;
}

#options input[type=text] {
	background-color: rgba(0,0,0,0);
	border: 0;
	border-bottom: 2px solid gray;
	margin-left: 11px;
	color: white;
	font-size: 14px;
	font-family: 'Biryani', sans-serif;
	padding-bottom: 0px;
	margin-bottom: -2px;
	height: 21px;
	outline: none;
	width: 150px;

   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}

#content{
	overflow-y: scroll;
	font-size: 18px;
	padding: 10px;
	width: auto;
	height: 100%;
}

#content h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	padding-left: 15px;
	color: black;
}

/*NORMAL ICON VIEW*/
#content li{
	font-size: 14px;
	display: inline-block;
	text-align: center;
}

#content li a figure {
	margin-left: 30px;
	margin-right: 30px;
}

#content li a figure figcaption {
	display:block;
	color: black;
	overflow:hidden;
	white-space:nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 98px;
}

#content li a figure .image-wrapper {
	overflow: hidden;
	width: 90px;
	height: 90px;

	border: 3px solid #2E2E2E;
	border-radius: 90px;
	transition-duration: 0.5s;

	padding: 2px;
	background-color: whitesmoke;

	z-index: 10;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#content li a figure .image.preview:hover {
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);    
}

#content li a figure .image {
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

	width: 90px;
	height: 90px;
	transition-duration: 0.5s;
	border-radius: 90px;

	z-index: 1;
}

#content li a.selected .image-wrapper {
	border: 3px solid #FE6176;
}

#content li a .image-wrapper:hover {
	/*border: 3px solid #7CCEFE;*/
	border: 3px solid #FE1938;
}

#content li a.drag_over .image-wrapper {
	border: 3px solid orange;
}


/*NORMAL LIST VIEW*/
#right #content table{
	width: 100%;
	border-collapse: collapse;
	color: black;
}

#right #content table th{
	font-weight: normal;
	text-align: left;
	font-size: 0.8em;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	background-color: #1C1C1C;
}

#right #content table tr td{
	border-bottom: 1px solid lightgray;
	font-size: 0.7em;
	padding-left: 5px;
	padding-right: 5px;
}

#right #content table tr td.icon{
	width: 30px;
	text-align: center;
}

#right #content table img{
	margin-top: 10px;
	height: 30px;
	width: 30px;
}

#right #content table tr{	
	cursor:pointer;
	transition-duration: 0.2s;
}

#right #content table tr:hover{
	color: white;
	background-color: #1C1C1C;
}

#right #content table tr.selected:hover{
	background-color: #FE6176
}

#right #content table tr.selected{
	color: white;
	background-color: #FE1938;
}

#right #content table tr.drag_over{
	border: 3px solid orange;
}





#content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #2E2E2E;
}

#content::-webkit-scrollbar {
	width: 15px;
	background-color: #2E2E2E;
}

#content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1C1C1C;
}

/*SCRIPT*/
#pop_up_back {
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(0, 0, 0, 0.5);
	/*background-image: url(backgrounds/test.png);*/

	opacity:1;
	display: none;
	
}

.blurable.blur {
	
	transition: 0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
}

.blurable {
	/*
	filter: blur(0px);
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);*/


	
	transition: 0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
}

@-webkit-keyframes bounceInDown { 
	0% { 
		opacity: 0; 
		-webkit-transform: translateY(-2000px); 
	} 
	60% { 
		opacity: 1; 
		-webkit-transform: translateY(30px); 
	} 
	80% { 
		-webkit-transform: translateY(-10px); 
	} 
	100% { 
		-webkit-transform: translateY(0); 
	} 
} 

@keyframes bounceInDown { 
	0% { 
		opacity: 0;
		transform: translateY(-2000px); 
	} 
	60% { 
		opacity: 1; 
		transform: translateY(30px); 
	} 
	80% { 
		transform: translateY(-10px); 
	} 
	100% { 
		transform: translateY(0); 
	} 
} 

@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0);
    } 
    20% { 
        opacity: 1; 
        -webkit-transform: translateY(20px);
    }
    80% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
}
@keyframes bounceOutUp {
    0% {
        transform: translateY(0);
    }
    20% {
        opacity: 1;
        transform: translateY(20px);
    }
    80% {
        opacity: 0;
        transform: translateY(-2000px);
    }
    100% {
        opacity: 0;
        transform: translateY(-2000px);
    }
}

.bouncy {
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
}

.bouncy.bounce {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

div.pop_up {
	z-index: 9999;
	width: 500px;
	position: relative;
	margin: 5% auto;
	padding: 25px;
	padding-bottom: 25px;
	
	background-color: whitesmoke;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0px 10px 10px #111;

	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

div.pop_up p{
	white-space: normal;
}

div.pop_up img{
	max-width: 100%;
	border: 1px solid black;
	display: block;
	margin: auto;
}

div.pop_up a.close img{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	float: right;
	position:absolute;
	right: 3px;
	top: 3px;
	background-color: whitesmoke;
	transition-duration: 0.2s;
}

div.pop_up .close img:hover{
	background-color: #FE6176;
}

div.pop_up p{
	margin-bottom: 0;
}

div.pop_up .tree{
  border: 1px solid #ddd;
  margin-top: 21px;
  border-radius: 4px;
}

div.pop_up .tree a{
	color: black;
}

div.pop_up .tree .selected > a{
	color: #FE6176;
}

div.pop_up p .field-name{
	display: inline-block;
	width: 75px;
}

div.pop_up p input[type="text"]{
	width: 400px;
}

div.pop_up.success{
	background-color: #dff0d8;
}

div.pop_up.info {
	background-color: #d9edf7;
}

div.pop_up.warning {
	background-color: #fcf8e3
}

div.pop_up.error {
	background-color: #f5dede;
}

div.pop_up h2 {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top: 0;

	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

div.pop_up.success h2{
	color: green;
}

div.pop_up.info h2 {
	color: #337ab7;
}

div.pop_up.warning h2 {
	color: DarkGoldenRod;
}

div.pop_up.error h2 {
	color: darkred;
}

.loader-label {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.loader {
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #ccc;
	top: 45%;
	border-radius: 50%;
}

.loader:nth-child(1) {
	background-color: #FF5460;
	-webkit-animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
	animation: move 2s infinite cubic-bezier(.2,.64,.81,.23);
}
.loader:nth-child(2) {
	background-color: #FF9D84;
	-webkit-animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
	animation: move 2s 150ms infinite cubic-bezier(.2,.64,.81,.23);
}
.loader:nth-child(3) {
	background-color: #F0E797;
	-webkit-animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
	animation: move 2s 300ms infinite cubic-bezier(.2,.64,.81,.23);
}
.loader:nth-child(4) {
	background-color: #75B08A;
	-webkit-animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
	animation: move 2s 450ms infinite cubic-bezier(.2,.64,.81,.23);
}

@-webkit-keyframes move {
	0% {left: 0%;}
	100% {left:90%;}
}

@keyframes move {
	0% {left: 0%;}
	100% {left:90%;}
}

#context_menu {
	font-family: Calibri;
	
	position: absolute;
	top: 200px;
	left: 400px;
	
	/*min-width: 300px;*/
	background-color: white;
	border: 1px darkgray solid;
	box-shadow: 2px 2px 5px #111;

}

#context_menu ul {
	font-size: 16px;
	padding: 0;
	margin: 0;
	padding: 10px 0;
	
	border-bottom: 1px lightgray solid;
}

#context_menu ul li {
	padding: 2px 30px 3px 30px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 500px;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

#context_menu ul li:not(.info):hover {
	background-color: #2E2E2E;
	color: white;
	cursor: pointer;
}

#context_menu ul li.info span:first-child{
	width: 100px;
	display: inline-block;
}

#context_menu ul li.info span:nth-child(2) {
	color: #888;
}

input[type="button"], input[type="submit"], .input_file {
	text-align: center;
	display: inline-block;
	padding: 1px 10px;
	color: white;
	font-size: 12px;
	border: 1px solid black;
	background-color: #2E2E2E;
	padding-top: 4px;
	border-radius: 4px;
}

input[type="button"]:hover, input[type="submit"]:hover, .input_file:hover{
	border: 1px solid #1C1C1C; /*#FE1938*/
	background-color: #FE1938; /*#FE6176*/
	cursor: pointer;
}

input[type="submit"] {
	display: block;
	margin: auto;
	margin-top: 22px;
	min-width: 150px;
}

input {
	outline-color: red;
}

[draggable] {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
}

.drop-menu {

	background-color: #2E2E2E;
	padding: 5px;

	color: white;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 17px;
}


.drop-menu div {
	padding-left: 14px;
	padding-right: 14px;
}

.drop-menu div:hover {
	background-color: gray;
	cursor: pointer;
}




/**********************/
/* CSS FOR LOGIN PAGE */
/**********************/
#htmlConnection body{
	font-family: Calibri;
	background-color: #1C1C1C;
	margin: 0;
}

#htmlConnection .outer {
    display: table;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#htmlConnection .middle {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

#htmlConnection .inner {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 750px;
	height: 750px;
	border-radius: 750px;
	
	color: black;
	text-align: center;
	/*background-color: #FEF9E4;*/
	background-color: #FEF9E4;
	background-image:url(icons/cloudy.png);
	background-repeat: no-repeat;
	background-size: cover;
	border: solid 10px black;
	transition-duration:0.5s;
}

#htmlConnection .inner:hover{
	border: solid 10px white;
}


#htmlConnection h2{
	margin-top: 25%;
	font-size: 9em;
	margin-bottom:15px;
	font-family: 'Lobster';
}

#htmlConnection p{
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 40px;
}

#htmlConnection input{
	font-family: 'Biryani', sans-serif;
	color: black;
	margin: 5px;
	padding: 5px;
	width: 200px;
	font-size: 14px;
	
	transition: all .5s ease;		
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
}

#htmlConnection input[type="text"]{
	background-color: rgba(0,0,0,0);
	border: 0;
	border-bottom: 2px solid gray;
	
	padding-bottom: 0px;
	margin-bottom: -2px;
	height: 21px;
	outline: none;
}

#htmlConnection input[type=text]:focus {
	border-bottom: 2px solid #FE1938;
}

#htmlConnection input[type="submit"]{
	font-size:12px;
	padding: 1px 10px;
	padding-bottom: 2px;
	
	width: 150px;
	height: 30px;
	text-align: center;
	display: inline-block;
	
	color: white;
	border: 2px solid black;
	background-color: #2E2E2E;
	padding-top: 4px;
	border-radius: 5px;
	margin-top:25px;
}

#htmlConnection input[type="submit"]:hover{
	border: 2px solid #1C1C1C; /*#FE1938*/
	background-color: #FE1938; /*#FE6176*/
	cursor: pointer;
}

#htmlConnection * {
	outline-color: #FE1938;
}


















/*AFFICHAGES*/

/*LARGE LIST VIEW*/
#right #content table.largeView{
	width: 100%;
	border-collapse: collapse;
	color: black;
}

#right #content table.largeView th{
	font-weight: normal;
	text-align: left;
	font-size: 0.8em;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	background-color: #1C1C1C;
}

#right #content table.largeView tr td{
	border-bottom: 1px solid lightgray;
	font-size: 0.7em;
	padding-left: 5px;
	padding-right: 5px;
}

#right #content table.largeView tr td.icon{
	width: 30px;
	text-align: center;
}

#right #content table.largeView img{
	margin-top: 10px;
	height: 30px;
	width: 30px;
}

#right #content table.largeView tr{	
	transition-duration: 0.2s;
}

#right #content table.largeView tr:hover td{
	color: white;
	background-color: #1C1C1C;
}


/*SMALL LIST VIEW*/
#right #content table.smallView{
	width: 100%;
	border-collapse: collapse;
	color: black;	
	transition-duration: 0.3s;
}

#right #content table.smallView th{
	font-weight: normal;
	text-align: left;
	font-size: 0.6em;
	padding-left: 5px;
	padding-right: 5px;
	color: white;
	background-color: #1C1C1C;
}

#right #content table.smallView tr td{
	border-bottom: 1px solid lightgray;
	font-size: 0.5em;
	padding-left: 5px;
	padding-right: 5px;
}

#right #content table.smallView tr td.icon{
	width: 30px;
	text-align: center;
}

#right #content table.smallView img{
	margin-top: 6px;
	height: 15px;
	width: 15px;
}

#right #content table.smallView tr{	
	margin-top: 100px;
}

#right #content table.smallView tr:hover td{
	color: white;
	background-color: #1C1C1C;
}


/*LARGE ICON VIEW*/
#content ul.largeView li{
	font-size: 14px;
	display: inline-block;
	text-align: center;
}

#content ul.largeView li a figure {
	margin-left: 30px;
	margin-right: 30px;
}

#content ul.largeView li a figure figcaption {
	display:block;
	color: black;
	overflow:hidden;
	white-space:nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 98px;
}

#content ul.largeView li a figure .image-wrapper {
	overflow: hidden;
	width: 90px;
	height: 90px;

	border: 3px solid #2E2E2E;
	border-radius: 90px;
	transition-duration: 0.5s;

	z-index: 10;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#content ul.largeView li a figure .image.preview:hover {
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);    
}

#content ul.largeView li a figure .image {
	background-size: cover;
	background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-position: center;

	width: 90px;
	height: 90px;
	transition-duration: 0.5s;
	border-radius: 90px;

	z-index: 1;
}

#content ul.largeView li a.selected .image-wrapper {
	border: 3px solid #FE6176;
}

#content ul.largeView li a .image-wrapper:hover {
	/*border: 3px solid #7CCEFE;*/
	border: 3px solid #FE1938;
}

#content ul.largeView li a.drag_over .image-wrapper {
	border: 3px solid orange;
}





/*SMALL ICON VIEW*/
#content ul.smallView li{
	font-size: 10px;
	display: inline-block;
	text-align: center;
}

#content ul.smallView li a figure {
	margin-left: 15px;
	margin-right: 15px;
}

#content ul.smallView li a figure figcaption {
	display:block;
	color: black;
	overflow:hidden;
	white-space:nowrap;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	width: 50px;
}

#content ul.smallView li a figure .image-wrapper {
	overflow: hidden;
	width: 45px;
	height: 45px;

	border: 3px solid #2E2E2E;
	border-radius: 90px;
	transition-duration: 0.5s;

	z-index: 10;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#content ul.smallView li a figure .image.preview:hover {
    -moz-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);    
}

#content ul.smallView li a figure .image {
	background-size: cover;
	background-color: #1C1C1C;
    background-repeat: no-repeat;
    background-position: center;

	width: 45px;
	height: 45px;
	transition-duration: 0.5s;
	border-radius: 45px;

	z-index: 1;
}

#content ul.smallView li a.selected .image-wrapper {
	border: 3px solid #FE6176;
}

#content ul.smallView li a .image-wrapper:hover {
	/*border: 3px solid #7CCEFE;*/
	border: 3px solid #FE1938;
}

#content ul.smallView li a.drag_over .image-wrapper {
	border: 3px solid orange;
}